---
import type { HTMLAttributes } from 'astro/types'

import FormErrorCard, { type FormError } from './FormErrorCard.astro'

interface Props {
  error?: FormError
  label: string
  name: string
  placeholder: string
  required?: boolean
  type: HTMLAttributes<'input'>['type']
}

const { error, label, name, placeholder, required = false, type } = Astro.props
---

<FormErrorCard {error} />
<label>
  {label}
  <input {name} {placeholder} {required} {type} value={error?.value} />
</label>
