---
import { Image } from 'astro:assets'

import type { ShowcaseEntry } from '../libs/showcase'

interface Props {
  entry: ShowcaseEntry
  showControls?: boolean
  showAdminControls?: boolean
}

const { entry, showControls = false, showAdminControls = false } = Astro.props

const imageUrl = new URL(entry.imageFileName, import.meta.env.R2_BUCKET_PUBLIC_URL)
---

<li>
  <a href={entry.url}>
    <Image alt="// TODO(HiDeoo) " src={imageUrl.toString()} width="800" height="450" />
    <p>{imageUrl}</p>
    <p>{entry.name}</p>
  </a>
  {
    showControls && (
      <form method="post">
        <input type="hidden" name="action" value="delete" />
        <input type="hidden" name="id" value={entry.id} />
        <button type="submit">Delete</button>
      </form>
    )
  }
  {
    showAdminControls && (
      <form method="post">
        <input type="hidden" name="action" value={entry.approved ? 'reject' : 'approve'} />
        <input type="hidden" name="id" value={entry.id} />
        <button type="submit">{entry.approved ? 'Reject' : 'Approve'}</button>
      </form>
    )
  }
</li>
